.photo-frame .photo-holder.fast {
  background: #ffffff url(imgs/fast.png) no-repeat;
  background-position: 37%;
  background-size: 100px;
}

.photo-frame .photo-holder.etna {
  background: #ffffff url(imgs/etna.jpg) no-repeat;
  background-position: 50%;
  background-size: 161px;
}

.photo-frame .photo-holder.ponto-frio {
  background: #ffffff url(imgs/ponto-frio.jpg) no-repeat;
  background-position: 46%;
  background-size: 170px;
}

.listas .photo-frame {
  margin: auto;
}
