.photo-frame .photo-holder.fast {
  background: #ffffff url(imgs/fast.png) no-repeat;
  background-position: 37%;
  background-size: 100px;
}

.photo-frame .photo-holder.etna {
  background: #ffffff url(imgs/etna.jpg) no-repeat;
  background-position: 50%;
  background-size: 161px;
}

.photo-frame .photo-holder.ricardo-eletro {
  background: #ffffff url(imgs/ricardo-eletro.jpg) no-repeat;
  background-position: 50%;
  background-size: 210px;
}

.listas .photo-frame {
  margin: auto;
}

.listas .holder {
  margin-bottom: 15px;
}

.margin-top {
  margin-top: 45px;
}

.margin-bottom {
  margin-bottom: 45px;
}
