.loading {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: grey;
  z-index: 9999;
  opacity: 0.5;
}

.hidden {
  display: none;
}

.positioning {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 50%;
  top: 50%;
  margin: -25px 0 0 -25px;
}

body {
  font-family: 'Alice', serif;
}

.timeline-frame-small {
  height: 20px;
  width: 20px;
  background-color: #FFFFFF;
  padding: 5px;
  border-radius: 50%;
  box-shadow: 0px 0px 20px #888888;
}

.time-line {
  background-color: #E8E8E8;
  width: 2px;
  height: 90%;
  position: absolute;
  left: 50%;
}

.timeline-text {
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
  text-align: justify;
}

/*.timeline-text:after {
  position: relative;
  top: -47px;
  right: 197px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 0px solid #fff;
  border-right: 15px solid #fff;
  border-bottom: 15px solid transparent;
  content: " ";
}

.timeline-text:before {
  position: relative;
  top: 25px;
  right: 25px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 0px solid #D8D8D8;
  border-right: 15px solid #D8D8D8;
  border-bottom: 15px solid transparent;
  content: " ";
}*/

.timeline-bullet-holder {
  position: relative;
}

.photo-frame-small .photo-holder-small.vinicius {
  background: #ffffff url(imgs/vinicius.jpg) no-repeat;
  background-position: 80%;
  background-size: 250px;
}

.photo-frame-small .photo-holder-small.stone {
  background: #ffffff url(imgs/stone.jpg) no-repeat;
  background-position: 37%;
  background-size: 250px;
}

.photo-frame-small .photo-holder-small.dani-andre-kungfu {
  background: #ffffff url(imgs/dani-andre-kungfu.jpg) no-repeat;
  background-position: 20%;
  background-size: 135px;
}

.photo-frame-small .photo-holder-small.garagem-caza {
  background: #ffffff url(imgs/garagem-caza.jpg) no-repeat;
  background-position: 20%;
  background-size: 135px;
}

.photo-frame-small .photo-holder-small.dani-lego {
  background: #ffffff url(imgs/dani-lego.jpg) no-repeat;
  background-position: 55%;
  background-size: 200px;
}

.photo-frame-small .photo-holder-small.pedido-casamento {
  background: #ffffff url(imgs/pedido-casamento.jpg) no-repeat;
  background-position: 80% 55%;
  background-size: 200px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.photo-frame-small .photo-holder-small.igreja {
  background: #ffffff url(imgs/igreja.jpg) no-repeat;
  background-position: 55%;
  background-size: 200px;
}

.page-title {
  text-align: center;
  margin-top: 20px;
  font-size: 50px;
  font-family: 'Tangerine', cursive;
}

.tab-title {
  margin: auto;
}

.the-date {
  font-size: 30px;
  margin: 0 15px;
}

.dash {
  border-bottom: #4caf50 solid 1px;
  height: 5px;
  width: 65px;
}

.date-holder {
  margin-bottom: 45px;
}

.no-background {
  background-color: initial;
}

.photo-frame {
  height: 120px;
  width: 120px;
  background-color: #FFFFFF;
  padding: 5px;
  border-radius: 50%;
  box-shadow: 0px 0px 20px #888888;
}

.photo-frame .photo-holder {
  border-radius: 50%;
  height: 120px;
  width: 120px;
}

.photo-frame .photo-holder.dani-andre {
  background: #ffffff url(imgs/dani_andre_metlife_2.jpg) no-repeat;
  background-position: 20%;
  background-size: 210px;
}

.left-name {
  text-align: right;
  padding-right: 10px;
}

.right-name {
  text-align: left;
  padding-left: 10px;
}

.first-name {
  margin-bottom: 0px;
  font-size: 1.5rem;
}

.last-name {
  margin-top: 0px;
}

.first-home-paragraph {
  margin-top: 26px;
}

.brasao {
  background: #ffffff url(imgs/brasao.png) no-repeat;
  background-position: 1px 15px;
  background-size: 50px;
  width: 50px;
  height: 65px;
  margin: 10px 10px 20px 10px;
}
.photo-frame-small {
  height: 100px;
  width: 100px;
  background-color: #FFFFFF;
  padding: 5px;
  border-radius: 50%;
  box-shadow: 0px 0px 20px #888888;
}

.photo-frame-small .photo-holder-small {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.photo-frame-small .photo-holder-small.chediack {
  background: #ffffff url(imgs/chediack.JPG) no-repeat;
  background-position: 80%;
  background-size: 210px;
}

.photo-frame-small .photo-holder-small.villani {
  background: #ffffff url(imgs/villani.JPG) no-repeat;
  background-position: 80%;
  background-size: 100px;
}

.photo-frame-small .photo-holder-small.celso-ceci {
  background: #ffffff url(imgs/celso_ceci.JPG) no-repeat;
  background-position: 50%;
  background-size: 135px;
}

.photo-frame-small .photo-holder-small.paula-thi {
  background: #ffffff url(imgs/thi_paula.JPG) no-repeat;
  background-position: 50%;
  background-size: 135px;
}

.photo-frame-small .photo-holder-small.katy-rafael {
  background: #ffffff url(imgs/rafa_katy.JPG) no-repeat;
  background-position: 50%;
  background-size: 135px;
}

.photo-frame-small .photo-holder-small.leo-li {
  background: #ffffff url(imgs/leo_li.JPG) no-repeat;
  background-position: 50%;
  background-size: 135px;
}

.photo-frame-small .photo-holder-small.tiago-mayte {
  background: #ffffff url(imgs/tiago_Mayte.JPG) no-repeat;
  background-position: 50% 25%;
  background-size: 135px;
}

.photo-frame-small .photo-holder-small.paolo {
  background: #ffffff url(imgs/paolo.JPG) no-repeat;
  background-position: 50% 20%;
  background-size: 135px;
}

.photo-frame-small .photo-holder-small.patricia {
  background: #ffffff url(imgs/patricia.JPG) no-repeat;
  background-position: 50% 20%;
  background-size: 100px;
}

.photo-frame-small .photo-holder-small.phelps {
  background: #ffffff url(imgs/phelps.JPG) no-repeat;
  background-position: 50% 0%;
  background-size: 135px;
}

.photo-frame-small .photo-holder-small.samara {
  background: #ffffff url(imgs/samara.JPG) no-repeat;
  background-position: 50%;
  background-size: 100px;
}

.photo-frame-small .photo-holder-small.anna {
  background: #ffffff url(imgs/ana.jpg) no-repeat;
  background-position: 50%;
  background-size: 135px;
}

.photo-frame-small .photo-holder-small.gabi {
  background: #ffffff url(imgs/gabriela.JPG) no-repeat;
  background-position: 0 0;
  background-size: 100px;
}

.text-right {
  padding-left: 10px;
}

.text-left {
  padding-right: 10px;
}

.title {
  font-weight: bold;
  margin: 10px 0 10px 0;
  text-align: center;
}

.sub-title {
  margin: 10px 0 10px 0;
  text-align: center;
}

.godfathers-divider-holder .dash {
  width: 40%;
  margin: 10px 0 10px 0;
}

@media (min-width: 601px) {
  .text-left .title {
    margin-bottom: 10px;
    text-align: right;
  }

  .text-left .sub-title {
    margin-bottom: 10px;
    text-align: right;
  }

  .text-right .title {
    margin-bottom: 10px;
    text-align: left;
  }

  .text-right .sub-title {
    margin-bottom: 10px;
    text-align: left;
  }
}