.loading {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: grey;
  z-index: 9999;
  opacity: 0.5;
}

.hidden {
  display: none;
}

.positioning {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 50%;
  top: 50%;
  margin: -25px 0 0 -25px;
}

.photo-frame .photo-holder.andre-escreve {
  background: #ffffff url(imgs/andre-escreve.jpg) no-repeat;
  background-position: 20%;
  background-size: 120px;
}

.photo-frame .photo-holder.dani-escreve {
  background: #ffffff url(imgs/dani-escreve.jpeg) no-repeat;
  background-position: 0%;
  background-size: 120px;
}

.quotes {
  position: relative;
  top: -5px;
}

.first-quotes {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}


body {
  font-family: 'Alice', serif;
}

.timeline-frame-small {
  height: 20px;
  width: 20px;
  background-color: #FFFFFF;
  padding: 5px;
  border-radius: 50%;
  box-shadow: 0px 0px 20px #888888;
}

.time-line {
  background-color: #E8E8E8;
  width: 2px;
  height: 98%;
  position: absolute;
  left: 50%;
}

.timeline-text {
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
  text-align: justify;
}

.timeline-bullet-holder {
  position: relative;
}

.photo-frame-small .photo-holder-small.vinicius {
  background: #ffffff url(imgs/vinicius.jpg) no-repeat;
  background-position: 80%;
  background-size: 250px;
}

.photo-frame-small .photo-holder-small.stone {
  background: #ffffff url(imgs/stone.jpg) no-repeat;
  background-position: 37%;
  background-size: 250px;
}

.photo-frame-small .photo-holder-small.dani-andre-kungfu {
  background: #ffffff url(imgs/dani-andre-kungfu.jpg) no-repeat;
  background-position: 20%;
  background-size: 135px;
}

.photo-frame-small .photo-holder-small.garagem-caza {
  background: #ffffff url(imgs/garagem-caza.jpg) no-repeat;
  background-position: 20%;
  background-size: 135px;
}

.photo-frame-small .photo-holder-small.dani-lego {
  background: #ffffff url(imgs/dani-lego.jpg) no-repeat;
  background-position: 55%;
  background-size: 200px;
}

.photo-frame-small .photo-holder-small.site {
  background: #ffffff url(imgs/site.jpg) no-repeat;
  background-position: 55%;
  background-size: 140px;
}

.photo-frame-small .photo-holder-small.pedido-casamento {
  background: #ffffff url(imgs/pedido-casamento.jpg) no-repeat;
  background-position: 80% 70%;
  background-size: 100px;
}

.photo-frame-small .photo-holder-small.igreja {
  background: #ffffff url(imgs/igreja.jpg) no-repeat;
  background-position: 55%;
  background-size: 200px;
}

a {
  color: #4caf50;
}

.page-title {
  text-align: center;
  margin-top: 20px;
  font-size: 3.125rem;
  font-family: 'Tangerine', cursive;
}

.tab-title {
  margin: auto;
}

.the-date {
  font-size: 1.875rem;
  margin: 0 15px;
}

.dash {
  border-bottom: #4caf50 solid 1px;
  height: 5px;
  width: 65px;
}

.date-holder {
  margin-bottom: 45px;
}

.no-background {
  background-color: initial;
}

.photo-frame {
  height: 120px;
  width: 120px;
  background-color: #FFFFFF;
  padding: 5px;
  border-radius: 50%;
  box-shadow: 0px 0px 20px #888888;
}

.photo-frame .photo-holder {
  border-radius: 50%;
  height: 120px;
  width: 120px;
}

.photo-frame-small .photo-holder-small.dani-andre {
  background: #ffffff url(imgs/dani_andre_metlife_2.jpg) no-repeat;
  background-position: 25%;
  background-size: 190px;
}

.left-name {
  text-align: right;
}

.right-name {
  text-align: left;
}

.first-name {
  margin-bottom: 0px;
  font-size: 1.5rem;
}

.last-name {
  margin-top: 0px;
  color: #8c8c8c;
}

.first-home-paragraph {
  margin-top: 26px;
}

.brasao {
  background: #ffffff url(imgs/brasao.png) no-repeat;
  background-position: 1px 15px;
  background-size: 50px;
  width: 50px;
  height: 65px;
  margin: 10px 10px 20px 10px;
}

@media (min-width: 601px) {
  .left-name {
    text-align: right;
    padding-right: 10px;
  }

  .right-name {
    text-align: left;
    padding-left: 10px;
  }
}
.photo-frame-small {
  height: 100px;
  width: 100px;
  background-color: #FFFFFF;
  padding: 5px;
  border-radius: 50%;
  box-shadow: 0px 0px 20px #888888;
}

.photo-frame-small .photo-holder-small {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.photo-frame-small .photo-holder-small.chediack {
  background: #ffffff url(imgs/chediack.jpg) no-repeat;
  background-position: 80%;
  background-size: 210px;
}

.photo-frame-small .photo-holder-small.villani {
  background: #ffffff url(imgs/villani.jpg) no-repeat;
  background-position: 80%;
  background-size: 100px;
}

.photo-frame-small .photo-holder-small.celso-ceci {
  background: #ffffff url(imgs/celso_ceci.jpg) no-repeat;
  background-position: 50%;
  background-size: 135px;
}

.photo-frame-small .photo-holder-small.paula-thi {
  background: #ffffff url(imgs/thi_paula.jpg) no-repeat;
  background-position: 50%;
  background-size: 135px;
}

.photo-frame-small .photo-holder-small.katy-rafael {
  background: #ffffff url(imgs/rafa_katy.jpg) no-repeat;
  background-position: 50%;
  background-size: 135px;
}

.photo-frame-small .photo-holder-small.leo-li {
  background: #ffffff url(imgs/leo_li.jpg) no-repeat;
  background-position: 50%;
  background-size: 135px;
}

.photo-frame-small .photo-holder-small.tiago-mayte {
  background: #ffffff url(imgs/tiago_Mayte.jpg) no-repeat;
  background-position: 50% 25%;
  background-size: 135px;
}

.photo-frame-small .photo-holder-small.paolo {
  background: #ffffff url(imgs/paolo.jpg) no-repeat;
  background-position: 50% 20%;
  background-size: 135px;
}

.photo-frame-small .photo-holder-small.patricia {
  background: #ffffff url(imgs/patricia.jpg) no-repeat;
  background-position: 50% 20%;
  background-size: 100px;
}

.photo-frame-small .photo-holder-small.phelps {
  background: #ffffff url(imgs/phelps.jpg) no-repeat;
  background-position: 50% 0%;
  background-size: 135px;
}

.photo-frame-small .photo-holder-small.samara {
  background: #ffffff url(imgs/samara.jpg) no-repeat;
  background-position: 50%;
  background-size: 100px;
}

.photo-frame-small .photo-holder-small.anna {
  background: #ffffff url(imgs/ana.jpg) no-repeat;
  background-position: 50%;
  background-size: 135px;
}

.photo-frame-small .photo-holder-small.gabi {
  background: #ffffff url(imgs/gabriela.jpg) no-repeat;
  background-position: 0 0;
  background-size: 100px;
}

.text-right {
  padding-left: 10px;
}

.text-left {
  padding-right: 10px;
}

.title {
  font-weight: bold;
  margin: 10px 0 10px 0;
  text-align: center;
}

.sub-title {
  margin: 10px 0 10px 0;
  text-align: center;
}

.godfathers-divider-holder .dash {
  width: 40%;
  margin: 10px 0 10px 0;
}

@media (min-width: 601px) {
  .text-left .title {
    margin-bottom: 10px;
    text-align: right;
  }

  .text-left .sub-title {
    margin-bottom: 10px;
    text-align: right;
  }

  .text-right .title {
    margin-bottom: 10px;
    text-align: left;
  }

  .text-right .sub-title {
    margin-bottom: 10px;
    text-align: left;
  }
}
.photo-frame .photo-holder.fast {
  background: #ffffff url(imgs/fast.png) no-repeat;
  background-position: 37%;
  background-size: 100px;
}

.photo-frame .photo-holder.etna {
  background: #ffffff url(imgs/etna.jpg) no-repeat;
  background-position: 50%;
  background-size: 161px;
}

.photo-frame .photo-holder.ricardo-eletro {
  background: #ffffff url(imgs/ricardo-eletro.jpg) no-repeat;
  background-position: 50%;
  background-size: 210px;
}

.listas .photo-frame {
  margin: auto;
}

.listas .holder {
  margin-bottom: 15px;
}

.margin-top {
  margin-top: 45px;
}

.margin-bottom {
  margin-bottom: 45px;
}
