.page-title {
  text-align: center;
  margin-top: 20px;
  font-size: 40px;
}

.the-date {
  font-size: 25px;
  margin: 0 15px;
}

.dash {
  border-bottom: #4caf50 solid 1px;
  height: 5px;
  width: 50px;
}

.date-holder {
  margin-bottom: 70px;
}