<md-content class="md-padding">
  <md-card>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline tab-title">Sobre o Casal</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      <div layout="row" layout-xs="column" layout-align="center center">

        <div layout="column"  layout-align="center center" flex>
          <div flex>
            <div class="photo-frame">
              <div class="photo-holder  dani-andre"></div>
            </div>
          </div>
          <div flex>
            <md-card>
              <md-card-content>
                <md-icon md-svg-src="/imgs/svgs/ic_format_quote_48px.svg"></md-icon>
                <p align="justify" style="padding: 0px 20px;">
                   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet sagittis ipsum. Proin leo purus, facilisis ac auctor vitae, dapibus eget dui. Phasellus mollis aliquam quam sit amet dictum. Nullam fermentum libero sed posuere iaculis. Cras sollicitudin finibus suscipit. Vivamus vitae tincidunt quam, a consequat mi. Pellentesque at nulla egestas, blandit diam facilisis, dictum nisl. Integer ut varius lectus. Nunc faucibus vulputate metus vitae euismod. Suspendisse sollicitudin nibh sit amet congue ornare. Maecenas interdum pulvinar mi. Sed vel libero sed urna pharetra gravida.

Aliquam erat volutpat. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse consequat feugiat tincidunt. Etiam non pretium est. Sed placerat, metus imperdiet dignissim mattis, nisi turpis blandit ex, interdum laoreet dolor libero at augue. Aenean volutpat orci ac tempus tempor. Maecenas massa enim, laoreet ac tortor eu, porttitor vestibulum ligula. Sed at ullamcorper lectus, sit amet pharetra neque. Integer hendrerit rhoncus augue sit amet finibus. Donec varius risus sem, vel vehicula odio auctor quis. Vivamus ullamcorper commodo massa, vel auctor nunc fringilla lacinia. In pretium odio arcu, vel vehicula augue pharetra sit amet. Donec viverra, ante eu bibendum molestie, arcu metus aliquam tellus, vitae convallis risus dolor quis arcu. 
                </p>
                <md-icon md-svg-src="/imgs/svgs/ic_format_quote_48px.svg"></md-icon>
              </md-card-content>
            </md-card>
          </div>
        </div>

        <div layout="column" layout-align="center center" flex>
          <div flex>
            <div class="photo-frame">
              <div class="photo-holder  dani-andre"></div>
            </div>
          </div>
          <div flex>
            <md-card>
              <md-card-content>
                <md-icon md-svg-src="/imgs/svgs/ic_format_quote_48px.svg"></md-icon>
                <p align="justify" style="padding: 0px 20px;">
                   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet sagittis ipsum. Proin leo purus, facilisis ac auctor vitae, dapibus eget dui. Phasellus mollis aliquam quam sit amet dictum. Nullam fermentum libero sed posuere iaculis. Cras sollicitudin finibus suscipit. Vivamus vitae tincidunt quam, a consequat mi. Pellentesque at nulla egestas, blandit diam facilisis, dictum nisl. Integer ut varius lectus. Nunc faucibus vulputate metus vitae euismod. Suspendisse sollicitudin nibh sit amet congue ornare. Maecenas interdum pulvinar mi. Sed vel libero sed urna pharetra gravida.

Aliquam erat volutpat. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse consequat feugiat tincidunt. Etiam non pretium est. Sed placerat, metus imperdiet dignissim mattis, nisi turpis blandit ex, interdum laoreet dolor libero at augue. Aenean volutpat orci ac tempus tempor. Maecenas massa enim, laoreet ac tortor eu, porttitor vestibulum ligula. Sed at ullamcorper lectus, sit amet pharetra neque. Integer hendrerit rhoncus augue sit amet finibus. Donec varius risus sem, vel vehicula odio auctor quis. Vivamus ullamcorper commodo massa, vel auctor nunc fringilla lacinia. In pretium odio arcu, vel vehicula augue pharetra sit amet. Donec viverra, ante eu bibendum molestie, arcu metus aliquam tellus, vitae convallis risus dolor quis arcu. 
                </p>
                <md-icon md-svg-src="/imgs/svgs/ic_format_quote_48px.svg"></md-icon>
              </md-card-content>
            </md-card>
          </div>
        </div>

      </div>
    </md-card-content>
  </md-card>
</md-content>
