<md-content class="md-padding">
  <md-card>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline tab-title">Listas de Presents</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>

      <p align="justify">
        A sua presença é o nosso maior presente. Contudo, se você quiser nos abençoar com mais alguma coisa, criamos as listas de presente abaixo para facilitar a escolha. As lojas que escolhemos permitem que nossas listas sejam encontradas tanto nas lojas virtuais (através dos links abaixo) como nas lojas físicas (localizadas nos shoppings e nas diversas ruas da cidade).
      </p>

      <div layout="row" layout-xs="column" layout-align="space-between center" layout-align-gt-sm="center center" class="listas">

        <div flex>
            <div class="photo-frame">
              <a href="#">
                <div class="photo-holder fast"></div>
              </a>
            </div>
        </div>

        <div flex>
            <div class="photo-frame">
              <a href="#">
                <div class="photo-holder etna"></div>
              </a>
            </div>
        </div>

        <div flex> 
            <div class="photo-frame">
              <a href="#">
                <div class="photo-holder ponto-frio"></div>
              </a>
            </div>
        </div>
      </div>

      <p align="justify">
        Caso queiram nos presentear de outra forma como, por exemplo, com itens da lua de mel ou até mesmo dinheiro, podem nos procurar diretamente que passamos as informações referente às nossas contas bancárias para depósito ou transferência bancária.
      </p>

    </md-card-content>
  </md-card>
</md-content>