<md-content class="md-padding">
  <md-card>
    <div id="loading-holder" layout="row" layout-sm="column" layout-align="space-around" class="loading" ng-class="{'hidden': !vm.isLoading}">
      <md-progress-circular md-mode="indeterminate" class="positioning"></md-progress-circular>
    </div>
    <div id="confirm" class="hidden">
      <h1>Presença Confirmada!</h1>
      <md-icon md-svg-src="/imgs/svgs/ic_thumb_up_48px.svg"></md-icon>
    </div>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline tab-title">Confirme Sua Presença</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      <form name="vm.rspvForm" ng-submit="vm.rspvForm.$valid && vm.submit()" novalidate>
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Nome Conforme Convite:</label>
            <input ng-model="vm.convidado.nome" name="nome" required>
            <div ng-messages="vm.rspvForm.nome.$error">
              <div ng-message="required">Por favor, não deixe o campo vazio.</div>
            </div>
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm>
            <label>E-mail:</label>
            <input ng-model="vm.convidado.email" name="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
            <div ng-messages="vm.rspvForm.email.$error">
              <div ng-message="required">Por favor, não deixe o campo vazio.</div>
              <div ng-message="pattern">Formato do email invalido. Gentileza verificar.</div>
            </div>
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm>
            <label>Número de Pessoas: (Maiores de 7 anos de idade)</label>
            <input type="number" ng-model="vm.convidado.pessoas" name="pessoas" required min="1" max="10">
            <div ng-messages="vm.rspvForm.pessoas.$error">
              <div ng-message="required">Precisamos de pelo menos uma pessoa seja confirmada.</div>
              <div ng-message="max">Meu Deus! Temos certeza que não mandamos isso tudo de convite para uma pessoa!</div>
            </div>
          </md-input-container>
        </div>
        <div style="float: right">
          <md-button class="md-raised md-primary" type="submit">
            Confirmar <md-icon md-svg-src="/imgs/svgs/ic_send_24px.svg"></md-icon>
          </md-button>
        </div>
      </form>
    </md-card-content>
  </md-card>
</md-content>
