.photo-frame .photo-holder.andre-escreve {
  background: #ffffff url(imgs/andre-escreve.jpg) no-repeat;
  background-position: 20%;
  background-size: 120px;
}

.photo-frame .photo-holder.dani-escreve {
  background: #ffffff url(imgs/dani-escreve.jpeg) no-repeat;
  background-position: 0%;
  background-size: 120px;
}

.quotes {
  position: relative;
  top: -5px;
}

.first-quotes {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
