<md-content class="md-padding">
  <md-card>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline tab-title">Nossos Padrinhos!</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>

      <ng-repeat ng-repeat="padrinho in vm.padrinhos">
        <div layout="row" layout-xs="column" layout-align="center center">

          <div flex=none ng-if="padrinho.rightAligned">
            <div class="photo-frame-small">
              <div class="photo-holder-small" ng-class="padrinho.class"></div>
            </div>
          </div>

          <div flex=none hide-gt-xs ng-if="!padrinho.rightAligned">
            <div class="photo-frame-small">
              <div class="photo-holder-small" ng-class="padrinho.class"></div>
            </div>
          </div>


          <div flex ng-class="{'text-right': padrinho.rightAligned, 'text-left': !padrinho.rightAligned}">
            <div class="title">{{padrinho.name}}</div>
            <p align="justify">{{padrinho.description}}</p>
          </div>

          <div flex=none hide-xs ng-if="!padrinho.rightAligned">
            <div class="photo-frame-small">
              <div class="photo-holder-small" ng-class="padrinho.class"></div>
            </div>
          </div>
        </div>

        <div layout="row" layout-align="center center" class="godfathers-divider-holder" ng-if="!$last">
          <div class="dash"></div>
          <div class="brasao"></div>
          <div class="dash"></div>
        </div>
      </ng-repeat>

    </md-card-content>
  </md-card>
</md-content>